header {
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0 5px 5px -5px rgba(58, 72, 80, 0.07);
    justify-content: space-between;
    display: flex;
}

.startHeader{
    height: 66px;
}

.defineHeader{
    height: 58px;
}

header p{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    color: #3C5060;
    margin: 19.5px 0;
}

@media (max-width: 768px) {
    header.startHeader .logo {
        margin: 14px 0 14px 25px;
    }

    header.defineHeader .logo {
        margin: 10px 0 10px 25px;
    }

    header .next{
        margin: 14px 25px 14px 0;
        cursor: pointer;
        padding: 10px;
    }

    header .before{
        margin: 12px 0px 12px 25px;
        cursor: pointer;
        padding: 10px;
    }

    header .exit{
        margin: 12px 25px 12px 0;
        cursor: pointer;
        padding: 10px;
    }
}

@media (min-width: 768px) {
    header.startHeader .logo {
        margin: 14px 0 14px 110px;
    }

    header.defineHeader .logo {
        margin: 10px 0 10px 110px;
    }

    header .next{
        margin: 14px 110px 14px 0;
        cursor: pointer;
        padding: 10px;
    }

    header .before{
        margin: 12px 0px 12px 110px;
        cursor: pointer;
        padding: 10px;
    }

    header .exit{
        margin: 12px 110px 12px 0;
        cursor: pointer;
        padding: 10px;
    }
}

.progressBar{
    width: 100%;
    height: 8px;
    background-color: #D8D8D8;
    position: absolute;
    top: 58px;
}

.progressBar::before{
    content: '';
    width: 100%;
    height: 8px;
    background: linear-gradient(290.47deg, #3797FA 11.33%, #45C9FF 83.66%);
    position: absolute;
    border-radius: 0 5px 5px 0;
    transition: .3s;
}
.progressBar.slide1::before{
    left: calc(-95% * (1 - 1 / 10));
}
.progressBar.slide2::before{
    left: calc(-95% * (1 - 2 / 10));
}
.progressBar.slide3::before{
    left: calc(-95% * (1 - 3 / 10));
}
.progressBar.slide4::before{
    left: calc(-95% * (1 - 4 / 10));
}
.progressBar.slide5::before{
    left: calc(-95% * (1 - 5 / 10));
}
.progressBar.slide6::before{
    left: calc(-95% * (1 - 6 / 10));
}
.progressBar.slide7::before{
    left: calc(-95% * (1 - 7 / 10));
}
.progressBar.slide8::before{
    left: calc(-95% * (1 - 8 / 10));
}
.progressBar.slide9::before{
    left: calc(-95% * (1 - 9 / 10));
}
.progressBar.slide10::before{
    left: calc(-5%);
}
.progressBar.slide11::before{
    left: calc(0);
}